# dependencies
node_modules/

# expo
.expo/
dist/
web-build/
expo-env.d.ts

# native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macos
.DS_Store
*.pem
Library/
Caches/
Cache/
*.log
*.ldb

# Chrome / browser caches and indexedDB
**/Library/Application Support/Google/Chrome/**
**/Library/Caches/Google/Chrome/**
**/Cache_Data/
chrome-extension_*

# Apple News widget items
**/Library/News/**

# local env files
.env*.local

# typescript
*.tsbuildinfo

# Android / iOS
# /android
/ios

# Privacy / build files
/privacy policy & ios_build

# IDEs
.vscode/
.idea/
*.iml